body.login div#login form {
    padding-bottom: 26px;
}

.float-r {
    float: right;
}

.clearfix {
    clear: both;
}

.def-ajaxloader {
    width: 20px;
    position: relative;
    top: 5px;
}


/* 403900-1518158358-au */